# Dependencies
node_modules/

# Expo
.expo/
expo-env.d.ts

# Native
android/
ios/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# Build Outputs
dist/
web-build/

# OS Files
.DS_Store


# TypeScript
*.tsbuildinfo

# Miscellaneous
scratch/
structure.txt
test.js
